<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SONET</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style>
        body{
           
            overflow-x: hidden; 
            overflow-y: auto; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  background-image:url(train.jpg);
            
        }
        h2{
            color:rgb(0, 205, 27);
        }
      img{
        
border:2px solid wheat;
border-radius:8px;
      }
    
.container-fluid{
    border-style: 2px solid black;
    height: fit-content;
    border-radius:2px;
   
}

    </style>
    
</head>
<body>
  
      <marquee scrollamount="15"> <center><h1>Railway Reservation System</h1></center></marquee>
     
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-info navbar-light rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="grid.html"><i class="fa fa-train" aria-hidden="true"  width="100px" height="100px" alt="logo" ></i></a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
                
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="grid.html">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="grid1.html">BookMyTrain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="grid2.html">CheckAvailability</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="grid3.html">Previous Bookings</a>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="collapsibleNavbar"></div>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"><i class="fa fa-address-card" aria-hidden="true"></i>
                                Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </button>
                        </li>
                        
                    </ul>
                    

                    
                    
                </div>
            </div>
        </nav>
        

</body>
</html>